.navbar {
    width: 100%;
    height: 6.5rem;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #6730ec;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Left Container */
.left-container {
    gap: 2.5rem;
}

.logo-name a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #fffefe;
}

.logo-img {
    width: 7rem;
}

.ham-burger {
    display: none;
}

.ham-burger .icon {
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
}


/* Mid nav */

.menu {
    gap: 3.5rem;
}

.menu-item {
    text-decoration: none;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem;
}

.menu-item:hover .icon {
    transition: all 0.2s ease;
    color: #00ff0d;
    transform: scale(1.2);

}

.icon {
    color: white;
    font-size: 1.6rem;
    transition: all 0.2s ease;
}


.icon-title {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;

}


/* User Info */
.user-info {
    gap: 1.5rem;
}

.user-name {
    font-size: 2rem;
    color: #fffefe;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    max-width: 15rem;
    max-height: 2.8rem;
}

.user-img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: fill;
}

.active .icon,
.active .icon-title {
    /* position: relative;
    transition: all 0.2s ease;
    top: -0.8rem; */
    /* top: 30px; */
    /* transform: scale(1.1); */
    color: #00ff0d;
}

.logout-btn {
    color: #fffefe;
    background-color: tomato;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    font-family: 'Rubik', sans-serif;
    margin-left: 2rem;
    cursor: pointer;

}

@media only screen and (max-width: 620px) {
    .mid-container {
        border-top: 0.1rem solid white;
        position: absolute;
        width: inherit;
        padding: 1rem;
        background-color: inherit;
        left: 0;
        top: 6.6rem;
        left: -100%;
        /* visibility: hidden;
        opacity: 0; */
        transition: all 0.5s ease-in-out;
    }

    .menu {
        height: 35vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu-item {
        width: 100%;
        flex-direction: row;
        gap: 1.5rem;
    }

    .ham-burger {
        display: block;
    }


    .open {
        transition: all 0.5s ease-in-out;
        left: 0;
        /* visibility: visible;
        opacity: 1; */
    }

    .logo-name a {
        font-size: 3.5rem;
    }

    .user-name {
        font-size: 3rem;
        max-width: 20rem;
        max-height: 5rem;
    }

    .icon {
        font-size: 2.5rem;
    }

    .icon-title {
        font-size: 2.3rem;
    }



}